# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log
logs/

# Config
config/config.json

# Output
Sorted Images/

# Test output
.coverage
htmlcov/
.tox/
nosetests.xml
coverage.xml
*.cover

# IDEs and editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
*.prettierignore